{% extends "base.html" %} {% block main %}
<h1 class="page-header"> Add New User</h1>
<form method="POST" action="{{url_for('register')}}" enctype="multipart/form-data">
    {% include 'flash_messages.html' %} {{ form.csrf_token }}
    <div>
        <div class="col-12 form-group">
            {{form.name.label}} {{form.name(class="form-control")}}
        </div>
        <div class="col-12 form-group">
            {{form.email.label}} {{form.email(class="form-control")}}
        </div>
        <div class="col-12 form-group">
            {{form.location.label}} {{form.location(class="form-control")}}
        </div>
        <div class="col-12 form-group">
            {{form.biography.label}} {{form.biography(class="form-control")}}
        </div>
        <div class="col-12 form-group">
            {{form2.username.label}} {{form2.username(class="form-control")}}
        </div>
        <div class="col-12 form-group">
            {{form2.password.label}} {{form2.password(class="form-control")}}
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                {{form.photo.label}} {{form.photo(class="form-control")}}
            </div>
        </div>
        <div class="col-12">
            <button type="submit" name="submit" class="btn btn-primary"> Register </button>
        </div>
    </div>
</form>
{% endblock %}